body{
    position: absolute;
    background-color: aliceblue;
    height:auto;
    width: auto;
    margin: 0;
  }
.header{
    height: 22vh;
    width: 100vw;
    background-image:url(photo/edit2.jpg);
    background-size: cover;
    border: 1px solid black;
    
}
.table{
    padding:0;
    width: 35vw;
    height: 70vh;
    margin-top: 5vh;
    margin-left: 32vw;
    background-color: azure;
    box-shadow: inset 0 0 10px black;
    border-radius: 15px 15px 15px 15px;
}
.marun{
    background-color: maroon;
    color: white;
    height: 4.5vh;
    vertical-align: middle;
}
td{
    padding:7px;
    width: 180px;
    min-width:0.5em;
    outline: none;
}
.sub{
    margin: 2em;
    height: 37px;
    width: 200px;
    border: 0;
    font-weight: 800px;
    color: white;
    outline: none;
    font-size: 15;
    background-color:maroon;
    box-shadow:inset 0 0 20px black;
    border-radius: 17px 17px 17px 17px;
}
.sub:hover{
    transform: scale(1.1);
    background-color: whitesmoke;
    outline: none;
    color:maroon;
}